.header {
    display: flex;
    border: 1px solid black;   
    justify-content: space-between;
}

.logo {
    width: 150px;
}

.nav-items {
    padding: 0px 20px;
}

.nav-items > ul {
    display: flex;
    font-size: 24px;
    list-style-type: none;

}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
} 


.res-card:hover {
    border: 1px solid black;
    cursor: pointer;

}
.res-card {
    margin: 5px;
    padding: 5px;
    width : 200px;
    height : 300px;
}


.res-image {
    width: 100%;
    height: 40%;
}

.search {
    padding: 10px;
}