.header {
    display: flex;
    border: 1px solid black;   
    justify-content: space-between;
}

.logo {
    width: 150px;
}

.nav-items {
    padding: 0px 20px;
}

.nav-items > ul {
    display: flex;
    font-size: 24px;
    list-style-type: none;

}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
} 


.res-card:hover {
    border: 1px solid black;
    cursor: pointer;

}
.res-card {
    margin: 5px;
    padding: 5px;
    width : 200px;
    height : 400px;
}


.res-logo {
    width: 100%;
    height: 40%;
}

.search {
    padding: 10px;
}

.filter-btn {
    margin: 10px;
    color: blueviolet;
    background-color: bisque;
    cursor: pointer;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;   
}

.shimmer-card {
    margin: 5px;
    padding: 5px;
    width : 200px;
    height : 300px;   
    background-color: #f0f0f0;
}

.login {
    padding: 0 20px;
    cursor: pointer;
}

.filter {
    display: flex;
}

.user-class {
    padding: 10px;
    border: 1px solid black;
    
}